body{
    background: url('../imagens/fundo.png') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    size: 100%;
}

.fundo{
    background-color: #ffffff;
    max-width: 50%;
    margin-top: 12%;
    width: 90%;
    padding:30px ;
    position: relative fixed;
    border-radius: 1rem;
    box-shadow: 5px 5px 5px #25252554;
    text-align: left;
    align-content: center;
}

form#quiz{
    display: flex;
    flex-direction: column;
}
