<!DOCTYPE html>
<html lang="en">
<head>
  <title>All Study</title>
  <link rel="icon" href="../imagens/logo.png">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
  <link rel="stylesheet" href="customizacao.css">
</head>
<body>
  <div class='container'>
    <center>
      <img class="img" src="../imagens/logo.png"  width="200" height="200" style="border-radius:18px;"></img>
    </center>
      <div class="row row justify-content-center align-items-center vh-100">
        <div class="col-8 text-center">
        <div class="row">
            <div class="col">
            <div class="card">
            <h4 style=margin-top:20px;> Estudante</h4>
            <h4>Se deseja ter acesso aos conteúdos do ENEM</h4>
            <a class="link" href='login.html'><button class="btn"><h4>Login</h4></button></a>
            <a class="link" href='cadastroe.html'><button class="btn"><h4 style="margin-top:5%">Cadastro</h4></button></a>
            </div>
            </div>
            <div class="col">
              <div class="card">
              <h4 style=margin-top:20px;> Colaborador</h4>
              <h4>Se deseja publicar e verificar conteúdo sobre o ENEM</h4>
              <a class="link" href='login.html'><button class="btn"><h4>Login</h4></button></a>
            <a class="link" href='cadastroc.html'><button class="btn"><h4 style="margin-top:5%">Cadastro</h4></button></a>
            </div>
            </div>
          </div>
        </div>
      </div>
  </div>


  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
</body>
</html>